.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 100px;
}
.search {
  height: 18px;
}
.search-box {
  box-shadow: 0px 4px 16px 0px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 50px;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 13px;
  margin-top: 8px;
}
.input {
  height: 30px;
  width: 500px;
  outline: none;
  border: none;
  margin-left: 10px;
}
