.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 100px;
}
.search {
  height: 30px;
}
.search-box {
  box-shadow: 0px 4px 16px 0px;
}
.search-bar {
  display: flex;
  align-items: center;
}
.input {
  height: 25px;
  width: 500px;
}
